.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.logo-mobile {
  height: 80px;
  margin-right: 10px;
}

.page-title {
  color: #6a4c93;
  display: flex;
  justify-content: center;
}

.desktop-logo-container {
  display: none;
}

.video-container {
  margin: 5px;
}

.videos-array-container {
  display: flex;
  flex-direction: row;
}
.videos-content-container {
  margin: 0 10px;
  margin-bottom: 80px;
}

.video-group {
  background-color: #6a4c93;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.video-content {
  border: 1px solid #000;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .welcome-container {
    display: none;
  }
  .desktop-logo-container {
    display: flex;
    justify-content: center;
  }
  .logo-desktop {
    height: 150px;
    margin-top: 20px;
  }
  .page-title {
    display: none;
  }

  .video-group:hover {
    background-color: rgb(106, 76, 147, 0.8);
    cursor: pointer;
  }

  .videos-content-container {
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media all and (min-width: 1025px) {
  .welcome-container {
    display: none;
  }
  .desktop-logo-container {
    display: flex;
    justify-content: center;
  }
  .logo-desktop {
    height: 150px;
    margin-top: 20px;
  }
  .page-title {
    display: none;
  }

  .video-group:hover {
    background-color: rgb(106, 76, 147, 0.8);
    cursor: pointer;
  }
  .page-title {
    display: none;
  }
  .videos-content-container {
    padding-bottom: 55px;
    margin-bottom: 80px;

    max-width: 1200px;
    margin: auto;
  }
}
