<app-header></app-header>

<!-- Mobile Heading Container -->
<div class="welcome-container">
  <div>
    <img
      src="/assets/Young-Chef-Icon2.png"
      alt="Young Chef Mobile Logo"
      class="logo-mobile"
    />
  </div>
  <h1 class="page-title">Cooking Videos</h1>
</div>

<!-- Desktop Logo -->
<div class="desktop-logo-container">
  <img
    src="/assets/Young-Chef-Logo.png"
    alt="Young Chef Logo"
    class="logo-desktop"
  />
</div>

<!-- start basics array -->
<div class="videos-content-container">
  <h3 class="video-group" (click)="setShowIndex(1)">
    Cooking Basics <i class="arrow down"></i>
  </h3>
  <div *ngIf="showIndex === 1">
    <div>
      <p-carousel
        [value]="basicsArray"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <!-- Video category header -->
        <ng-template pTemplate="header"> </ng-template>
        <!-- Video carousel -->
        <ng-template let-product pTemplate="item">
          <div class="videos-array-container">
            <div class="video-container" *ngFor="let video of basicsArray">
              <youtube-player
                videoId="{{ video.id }}"
                suggestedQuality="hd720"
                [height]="250"
                [width]="400"
                [startSeconds]="0"
                [endSeconds]="100000"
              >
              </youtube-player>
              <h5>{{ video.title }}</h5>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- start lesson array -->
  <h3 class="video-group" (click)="setShowIndex(2)">Cooking Lessons</h3>
  <div *ngIf="showIndex === 2">
    <div>
      <p-carousel
        [value]="lessonsArray"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <!-- Video category header -->
        <ng-template pTemplate="header"> </ng-template>
        <!-- Video carousel -->
        <ng-template let-product pTemplate="item">
          <div class="videos-array-container">
            <div class="video-container" *ngFor="let video of lessonsArray">
              <youtube-player
                videoId="{{ video.id }}"
                suggestedQuality="hd720"
                [height]="250"
                [width]="500"
                [startSeconds]="0"
                [endSeconds]="100000"
              >
              </youtube-player>
              <h5>{{ video.title }}</h5>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- start breakfast array -->
  <h3 class="video-group" (click)="setShowIndex(3)">Cooking Breakfast</h3>
  <div *ngIf="showIndex === 3">
    <div>
      <p-carousel
        [value]="breakfastArray"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <!-- Video category header -->
        <ng-template pTemplate="header"> </ng-template>
        <!-- Video carousel -->
        <ng-template let-product pTemplate="item">
          <div class="videos-array-container">
            <div class="video-container" *ngFor="let video of breakfastArray">
              <youtube-player
                videoId="{{ video.id }}"
                suggestedQuality="hd720"
                [height]="250"
                [width]="500"
                [startSeconds]="0"
                [endSeconds]="100000"
              >
              </youtube-player>
              <h5>{{ video.title }}</h5>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- start lunch array -->
  <h3 class="video-group" (click)="setShowIndex(4)">Cooking Lunch</h3>
  <div *ngIf="showIndex === 4">
    <div>
      <p-carousel
        [value]="lunchArray"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <!-- Video category header -->
        <ng-template pTemplate="header"> </ng-template>
        <!-- Video carousel -->
        <ng-template let-product pTemplate="item">
          <div class="videos-array-container">
            <div class="video-container" *ngFor="let video of lunchArray">
              <youtube-player
                videoId="{{ video.id }}"
                suggestedQuality="hd720"
                [height]="250"
                [width]="500"
                [startSeconds]="0"
                [endSeconds]="100000"
              >
              </youtube-player>
              <h5>{{ video.title }}</h5>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- start dinner array -->
  <h3 class="video-group" (click)="setShowIndex(5)">Cooking Dinner</h3>
  <div *ngIf="showIndex === 5">
    <div>
      <p-carousel
        [value]="dinnerArray"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <!-- Video category header -->
        <ng-template pTemplate="header">
          <h2>Cooking Dinner</h2>
        </ng-template>
        <!-- Video carousel -->
        <ng-template let-product pTemplate="item">
          <div class="videos-array-container">
            <div class="video-container" *ngFor="let video of dinnerArray">
              <youtube-player
                videoId="{{ video.id }}"
                suggestedQuality="hd720"
                [height]="250"
                [width]="500"
                [startSeconds]="0"
                [endSeconds]="100000"
              >
              </youtube-player>
              <h5>{{ video.title }}</h5>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- start snacks array -->
  <h3 class="video-group" (click)="setShowIndex(6)">Making Snacks</h3>
  <div *ngIf="showIndex === 6">
    <div>
      <p-carousel
        [value]="snacksArray"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <!-- Video category header -->
        <ng-template pTemplate="header"> </ng-template>
        <!-- Video carousel -->
        <ng-template let-product pTemplate="item">
          <div class="videos-array-container">
            <div class="video-container" *ngFor="let video of snacksArray">
              <youtube-player
                videoId="{{ video.id }}"
                suggestedQuality="hd720"
                [height]="250"
                [width]="500"
                [startSeconds]="0"
                [endSeconds]="100000"
              >
              </youtube-player>
              <h5>{{ video.title }}</h5>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- start teen array -->
  <h3 class="video-group" (click)="setShowIndex(7)">Cooking for Teens</h3>
  <div *ngIf="showIndex === 7">
    <div>
      <p-carousel
        [value]="teensArray"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <!-- Video category header -->
        <ng-template pTemplate="header"> </ng-template>
        <!-- Video carousel -->
        <ng-template let-product pTemplate="item">
          <div class="videos-array-container">
            <div class="video-container" *ngFor="let video of teensArray">
              <youtube-player
                videoId="{{ video.id }}"
                suggestedQuality="hd720"
                [height]="250"
                [width]="500"
                [startSeconds]="0"
                [endSeconds]="100000"
              >
              </youtube-player>
              <h5>{{ video.title }}</h5>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <!-- start college array -->
  <h3 class="video-group" (click)="setShowIndex(8)">
    Cooking for College Students
  </h3>
  <div *ngIf="showIndex === 8">
    <div>
      <p-carousel
        [value]="collegeArray"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <!-- Video category header -->
        <ng-template pTemplate="header"> </ng-template>
        <!-- Video carousel -->
        <ng-template let-product pTemplate="item">
          <div class="videos-array-container">
            <div class="video-container" *ngFor="let video of collegeArray">
              <youtube-player
                videoId="{{ video.id }}"
                suggestedQuality="hd720"
                [height]="250"
                [width]="500"
                [startSeconds]="0"
                [endSeconds]="100000"
              >
              </youtube-player>
              <h5>{{ video.title }}</h5>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
<app-footer></app-footer>
