.recipe-container {
  align-items: center;
  left: 15%;
  padding-bottom: 10px;
  margin-top: 50px;
  width: 70%;
  border: 5px #f44336 solid;
  border-radius: 13px;
  position: relative;
}
.recipe-container:hover {
    box-shadow: 1px 1px 5px #f44336;
  }


img {
  width: 100%;
  border-radius: 8px;
  padding-bottom: 10px;
}

.title-card {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.fa-heart {
  font-size: 20px;
}

@media only screen and (min-width: 768px){

  .title-card {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.recipe-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 
.recipe-container {
  align-items: center;
  left: 5%;
  padding-bottom: 10px;
  margin-top: 50px;
  width: 90%;
  border: 5px #f44336 solid;
  border-radius: 13px;
  position: relative;
  max-width: 400px;
}
}