<app-header></app-header>

<h1 class="page-title">Kitchen Basics</h1>
<div class="image-content-container">
  <!-- The Modal -->
  <div *ngIf="imageModal" class="modal-container">
    <span class="close" (click)="toggleModal()">X</span>
    <p>image here</p>
    <img
      src="{{ currentImage.src }}"
      alt="{{ currentImage.alt }}"
      class="modal-content"
      id="img01"
    />
    <div id="caption"></div>
  </div>

  <!-- Kitchen Health & Safety  -->
  <h3 (click)="setShowIndex(1)" class="basics-tabs">Kitchen Health & Safety</h3>
  <div *ngIf="showIndex === 1" class="image-container">
    <div *ngFor="let image of healthSafety">
      <img
        src="{{ image.src }}"
        alt="{{ image.alt }}"
        id="myImg"
        (click)="setCurrentImage(image.src, image.alt)"
      />
    </div>
  </div>
  <!-- Kitchen Tools  -->
  <h3 (click)="setShowIndex(2)" class="basics-tabs">Kitchen Tools</h3>
  <div *ngIf="showIndex === 2" class="image-container">
    <div *ngFor="let image of kitchenTools">
      <img
        src="{{ image.src }}"
        alt="{{ image.alt }}"
        id="myImg"
        (click)="setCurrentImage(image.src, image.alt)"
      />
    </div>
  </div>
  <!-- Measurements  -->
  <h3 (click)="setShowIndex(3)" class="basics-tabs">Measurements</h3>
  <div *ngIf="showIndex === 3" class="image-container">
    <div *ngFor="let image of kitchenMeasurements">
      <img
        src="{{ image.src }}"
        alt="{{ image.alt }}"
        id="myImg"
        (click)="setCurrentImage(image.src, image.alt)"
      />
    </div>
  </div>
  <!-- Tips & Tricks  -->
  <h3 (click)="setShowIndex(4)" class="basics-tabs">Tips & Tricks</h3>
  <div *ngIf="showIndex === 4" class="image-container">
    <div *ngFor="let image of tipsTricks">
      <img
        src="{{ image.src }}"
        alt="{{ image.alt }}"
        id="myImg"
        (click)="setCurrentImage(image.src, image.alt)"
      />
    </div>
  </div>
</div>
<!-- End of image-content-container -->
