<app-header></app-header>
<h3 (click)="setShowIndex(1)">Kitchen Health & Safety</h3>
<div *ngIf="showIndex === 1">
  <img
    src="\assets\Kitchen Safety\IsItDoneYet_poster.jpg"
    alt="Is It Done Yet?"
  />
  <img
    src="\assets\Kitchen Safety\Cutting_Boards_and_Food_Safety.jpg"
    alt="Cutting Board Safety"
  />
  <img
    src="\assets\Kitchen Safety\How to Sanitize vs Disinfect.jpg"
    alt="How to Sanitize vs Disinfect"
  />
  <img
    src="\assets\Kitchen Safety\10-Least-Wanted-Poster-English.jpg"
    alt="Fight BAC"
  />
  <img
    src="\assets\Kitchen Safety\BFS_ChillAd.jpg"
    alt="BFS Chill"
    width="1000px"
  />
  <img
    src="\assets\Kitchen Safety\BFS_CleanAd.jpg"
    alt="BFS Clean Ad"
    width="1000px"
  />
  <img
    src="\assets\Kitchen Safety\BFS_CookAd.jpg"
    alt="BFS Cook Ad"
    width="1000px"
  />
  <img
    src="\assets\Kitchen Safety\BFSSeparateAd.jpg"
    alt="BFS Seperate"
    width="1000px"
  />
</div>
<h3 (click)="setShowIndex(2)">Kitchen Tools</h3>
<div *ngIf="showIndex === 2">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus
    id, libero reprehenderit nobis, cum modi voluptate officia optio provident
    architecto ipsa a tempore consequatur iure iste est accusamus quae!
  </p>
</div>
<h3 (click)="setShowIndex(3)">Measurements</h3>
<div *ngIf="showIndex === 3">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus
    id, libero reprehenderit nobis, cum modi voluptate officia optio provident
    architecto ipsa a tempore consequatur iure iste est accusamus quae!
  </p>
</div>
<h3 (click)="setShowIndex(4)">Tips & Tricks</h3>
<div *ngIf="showIndex === 4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus
    id, libero reprehenderit nobis, cum modi voluptate officia optio provident
    architecto ipsa a tempore consequatur iure iste est accusamus quae!
  </p>
</div>
