.page-title {
  margin-left: 57px;
  display: flex;
  justify-content: center;
}

.image-content-container {
  margin: 0 10px;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #000000be;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  /* width: fit-content; */
  width: 80%;
}

.modal-content {
  width: 100%;
}

.close {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 40px;
  width: 40px;
  /* border: 2px solid #ffca3a; */
  background-color: #fff;
  /* color: #000; */
  border-radius: 10px;
}

.close:hover {
  background-color: #ffca3a;
  color: #000;
  border-radius: 10px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
  padding: 5px;
}

#myImg:hover {
  opacity: 0.7;
}

.basics-tabs {
  background-color: #ffca3a;
  border-radius: 10px;
  padding: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/******* MEDIA QUERIES *******/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .image-content-container {
    margin-bottom: 55px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .close {
    right: 30px;
    top: -20px;
  }

  .page-title {
    display: none;
  }

  .basics-tabs:hover {
    background-color: #fdda78;
    cursor: pointer;
  }

  .modal-content {
    max-width: 500px;
  }
} /* End of min-width: 768px Media Queries */

@media all and (min-width: 1025px) {
  .image-content-container {
    margin-bottom: 55px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .close {
    right: 170px;
    top: -20px;
  }

  .page-title {
    display: none;
  }

  .basics-tabs:hover {
    background-color: #fdda78;
    cursor: pointer;
  }
  .modal-content {
    max-width: 450px;
  }
} /* End of min-width: 1025px Media Queries */
