<app-header></app-header>
<h3 (click)="setShowIndex(1)">Basics 1</h3>
<div *ngIf="showIndex === 1">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus
    id, libero reprehenderit nobis, cum modi voluptate officia optio provident
    architecto ipsa a tempore consequatur iure iste est accusamus quae!
  </p>
</div>
<h3 (click)="setShowIndex(2)">Basics 2</h3>
<div *ngIf="showIndex === 2">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus
    id, libero reprehenderit nobis, cum modi voluptate officia optio provident
    architecto ipsa a tempore consequatur iure iste est accusamus quae!
  </p>
</div>
<h3 (click)="setShowIndex(3)">Basics 3</h3>
<div *ngIf="showIndex === 3">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus
    id, libero reprehenderit nobis, cum modi voluptate officia optio provident
    architecto ipsa a tempore consequatur iure iste est accusamus quae!
  </p>
</div>
<h3 (click)="setShowIndex(4)">Basics 4</h3>
<div *ngIf="showIndex === 4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus
    id, libero reprehenderit nobis, cum modi voluptate officia optio provident
    architecto ipsa a tempore consequatur iure iste est accusamus quae!
  </p>
</div>
