<nav role="navigation" class="navigation">
  <div class="home-container">
    <!-- A fake / hidden checkbox is used as click receiver, so you can use the :checked selector on it -->
    <input type="checkbox" class="checkbox" />

    <!-- Some spans to act as a hamburger. They are acting like a real hamburger, not that McDonalds stuff. -->
    <span class="hamburger"></span>
    <span class="hamburger"></span>
    <span class="hamburger"></span>

    <!-- Main menu links/routing -->
    <ul class="main-menu">
      <li><a routerLink="/">Home</a></li>
      <li>
        <a
          routerLink="/the_basics"
          routerLinkActive="basics-link"
          class="home-options basics"
          >The Basics</a
        >
      </li>

      <li>
        <a
          routerLink="/search_recipes"
          routerLinkActive="search-link"
          class="home-options search-recipes"
          >Search Recipes</a
        >
      </li>

      <li>
        <a
          routerLink="/cooking_videos"
          routerLinkActive="video-link"
          class="home-options cooking-videos"
          >Cooking Videos</a
        >
      </li>

      <li>
        <a
          routerLink="/recipe_box"
          routerLinkActive="recipe-box-link"
          class="home-options recipe-box"
          >Recipe Box</a
        >
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="about-link"
          class="home-options about"
          >About</a
        >
      </li>
    </ul>
  </div>
  <!-- End of .home-container -->
</nav>
