.home-container {
  display: block;
  position: relative;
  top: 37px;
  left: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.home-container a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}
.home-container a:hover {
  color: #000;
}
/* .basics-link a:hover {
  color: #ffca3a;
} */
.home-container input {
  display: block;
  width: 37px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/** Just a quick hamburger **/
.home-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #1982c4;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.home-container span:first-child {
  transform-origin: 0% 0%;
}
.home-container span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* * Transform all the slices of hamburger into a crossmark. */
.home-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/** But let's hide the middle one. */
.home-container input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/** Oh yeah and the last one should go the other direction */
.home-container input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/** Make this absolute positioned at the top left of the screen */
.main-menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  column-count: 1;
  background: #1982c4;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.main-menu li {
  padding: 10px 0;
  font-size: 22px;
  color: #ffffff;
}
/** And let's slide it in from the left*/
.home-container input:checked ~ ul {
  transform: none;
}
/******* MEDIA QUERIES *******/
@media all and (min-width: 778px) {
  .navigation {
    display: flex;
    /* justify-content: space-between; */
    background-color: #fff;
    color: #fff;
    /* height: 200px; */
    width: 100%;
  }
  .home-container {
    padding: 0;
    width: 100%;
    left: 0;
    top: 0;
  }
  .home-container a {
    color: #fff;
    font-weight: 600;
  }
  .main-menu {
    display: flex;
    justify-content: space-around;
    transform: none;
    width: 100%;
    position: static;
    margin: 0;
    padding: 0;
  }
  .main-menu li {
    margin: 10px;
  }
  .basics-link {
    background-color: #ffca3a;
    color: #6a4c93;
    height: 68px;
    height: 68px;
    padding: 20px;
  }
  .search-link {
    background-color: #f94144;
    color: #fff;
    height: 68px;
    height: 68px;
    padding: 20px;
  }
  .video-link {
    background-color: #6a4c93;
    color: #fff;
    height: 68px;
    height: 68px;
    padding: 20px;
  }
  .recipe-box-link {
    background-color: #8ac926;
    color: #fff;
    height: 68px;
    padding: 20px;
  }
  .recipe-box-link a {
    color: white;
  }
  .home-container span {
    display: none;
  }
} /* End of media queries */
