<div class="footer">
  <p>Copyright ©</p>
  <a
    class="footer-links"
    target="_blank"
    href="https://www.linkedin.com/in/phil-cronin/"
    >Cronin,</a
  >
  <a
    class="footer-links"
    target="_blank"
    href="https://www.linkedin.com/in/nicoledreon/"
    >Dreon,</a
  >
  <a
    class="footer-links"
    target="_blank"
    href="https://www.linkedin.com/in/lesliegilbert0223/"
    >Gilbert &</a
  >
  <a
    class="footer-links"
    target="_blank"
    href="https://www.linkedin.com/in/kjsmith530/"
    >Smith</a
  >
</div>
