.recipe-info {
  margin: 10px;
}
.recipe-header-media-query {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}
.recipe-header-mobile {
  display: none;
}
.image {
  width: 100%;
}
.title-and-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
}

.recipe-title {
  color: #f94144;
  float: right;
  margin-right: 25px;
  padding-left: 10px;
}
.ready-in {
  border-bottom: 2px #759ab1 solid;
  margin-bottom: 5px;
}
.ingredients-header {
  display: flex;
  justify-content: space-between;
}
.ingredient-title-and-tips {
  display: flex;
  flex-direction: column;
}
.tips {
  font-size: 80%;
  color: grey;
}
ul.ingredients-list {
  list-style-type: none;
}

.num-ingredients-container {
  display: flex;
  flex-direction: column;
}
.tool-serving-div {
  display: flex;
  justify-content: space-between;
}

.serving-size-number,
.num {
  display: flex;
  justify-content: center;
  font-size: 150%;
}

.ingredient-list-title {
  color: #ffca3a;
}
.tools-needed-title {
  color: #614c93;
}
.step-instructions {
  color: #8ac926;
}
a:link {
  text-decoration: none;
}
.original-recipe {
  color: #759ab1;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.disclaimer {
  background-color: #f94144;
  color: white;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
}
.fa-heart {
  font-size: 200%;
  margin-right: 20px;
  cursor: pointer;
}
.black {
  color: black;
  padding: 10px;
}
.red {
  color: #f94144;
  padding: 10px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .recipe-content {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 55px;
  }

  .recipe-header-media-query {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .title-and-heart {
    padding-top: 20px;
    margin: 0;
  }
  .hover-steps:hover {
    background-color: #8ac926;
    color: white;
  }
  .black {
    color: black;
  }
  .red {
    color: #f94144;
  }
}
@media all and (min-width: 1025px) {
  .recipe-content {
    margin-bottom: 55px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .recipe-header-media-query {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .title-and-heart {
    margin: 0;
    padding-top: 20px;
  }
  .hover-steps:hover {
    background-color: #8ac926;
    color: white;
  }
  .disclaimer {
    display: flex;
  }
  .black {
    color: black;
  }
  .red {
    color: #f94144;
  }
}
