<div>
  <img src="{{ recipeInfo?.image }}" alt="" />
  <h2>{{ recipeInfo?.title }}</h2>
  <!-- <p>{{ recipeInfo.summary }}</p> -->
  <p>Difficulty Rating</p>
  <div>
    <ul *ngFor="let info of recipeInfo?.extendedIngredients">
      <li>{{ info.original }}</li>
    </ul>
    <p>Number of Ingredients</p>
  </div>
  <!-- End of ingredients list div -->
  <p>Ready in {{ recipeInfo?.readyInMinutes }} minutes</p>
  <p>Number of Servings: {{ recipeInfo?.servings }}</p>
  <div>
    <h2>Tools Needed</h2>
    <ul>
      <li *ngFor="let tool of uniqueTools">
        {{ tool }}
        <!-- <img src="{{ tool.image }}" alt="" /> -->
      </li>
    </ul>
  </div>
  <div>
    <h2>Step by Step Instructions</h2>
    <ol>
      <li *ngFor="let step of recipeInfo?.analyzedInstructions[0].steps">
        {{ step.step }}
      </li>
    </ol>
  </div>
  <!-- End of step by step instructions div-->
  <p><a href="{{ recipeInfo?.sourceUrl }}">View Original Recipe</a></p>
</div>
