.recipe-info {
  margin: 10px;
}
.recipe-header-mobile {
  display: flex;
  justify-content: space-between;
  margin-left: 57px;
}
.recipe-header-media-query {
  display: none;
}
.image {
  width: 100%;
}

.recipe-title {
  color: #f94144;
  float: right;
}
.ready-in {
  border-bottom: 2px #759ab1 solid;
  margin-bottom: 5px;
}
.ingredients-header {
  display: flex;
  justify-content: space-between;
}
.ingredient-title-and-tips {
  display: flex;
  flex-direction: column;
}
.tips {
  font-size: 80%;
  color: grey;
}
ul.ingredients-list {
  list-style-type: none;
  /* margin-left: -10px; */
}
.num-ingreidents {
  position: absolute;
  top: 0;
  right: 0;
}
.num-ingredients-container {
  display: flex;
  flex-direction: column;
}
.tool-serving-div {
  display: flex;
  justify-content: space-between;
}
/* .serving-size {
  background-color: #8ac926;
} */
.serving-size-number,
.num {
  display: flex;
  justify-content: center;
  font-size: 150%;
}
.ingredient-list-title {
  color: #ffca3a;
}
.tools-needed-title {
  color: #614c93;
}
.step-instructions {
  color: #8ac926;
}
a:link {
  text-decoration: none;
}
.original-recipe {
  color: #759ab1;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.disclaimer {
  background-color: #f94144;
  color: white;
  padding-left: 10px;
  margin-top: 10px;
  /* margin: 0px; */
}
.fa-heart {
  font-size: 200%;
  margin-right: 20px;
}
.black {
  color: black;
}
.red {
  color: #f94144
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .recipe-content {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 55px;
    /* background-color: rgb(238, 238, 227, 0.3); */
  }
  .recipe-header-mobile {
    display: none;
  }
  .recipe-header-media-query {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (min-width: 1025px) {
  .recipe-content {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 55px;
    /* background-color: rgb(238, 238, 227, 0.3); */
  }
  .recipe-header-mobile {
    display: none;
  }
  .recipe-header-media-query {
    display: flex;
    justify-content: space-between;
  }
  .hover-steps:hover {
    background-color: #8ac926;
    color: white;
  }
}
