<app-header></app-header>
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>
    Resize the browser window to see that this page is responsive by the way.
  </p>
</div>

<h2 class="team-title">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img
        src="/assets/Cronin_Phil600x600.jpg"
        alt="Phil Cronin"
        class="about-img"
      />
      <div class="container">
        <h2>Phil Cronin</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p class="linkedin">
          <a href="https://www.linkedin.com/in/phil-cronin/"
            >Connect on LinkedIn</a
          >
        </p>
        <p>
          <a href="mailto:philcronin20@gmail.com" button class="button"
            >Email Me</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="/assets/Nicole-Dreon_600x600.jpg"
        alt="Nicole Dreon"
        class="about-img"
      />
      <div class="container">
        <h2>Nicole Dreon</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p class="linkedin">
          <a href="https://www.linkedin.com/in/nicoledreon/"
            >Connect on LinkedIn</a
          >
        </p>
        <p>
          <a href="mailto:dreon.nicole@gmail.com" button class="button"
            >Email Me</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="/assets/600x600_LeslieGilbert_Headshot.jpg"
        alt="Leslie Gilbert"
        class="about-img"
      />
      <div class="container">
        <h2>Leslie Gilbert</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p class="linkedin">
          <a href="https://www.linkedin.com/in/lesliegilbert0223/"
            >Connect on LinkedIn</a
          >
        </p>
        <p>
          <a href="mailto:lesliegilbert0223@gmail.com" button class="button"
            >Email Me</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="/assets/Kyle-Smith_600x600.jpg"
        alt="Kyle Smith"
        class="about-img"
      />
      <div class="container">
        <h2>Kyle Smith</h2>
        <p class="title">Developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p class="linkedin">
          <a href="https://www.linkedin.com/in/kjsmith530/"
            >Connect on LinkedIn</a
          >
        </p>
        <p>
          <a href="mailto:KJSmith530@gmail.com" button class="button"
            >Email Me</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
