<app-header></app-header>
<div class="fav-page">
  <!-- Mobile Heading Container -->
  <div class="welcome-container">
    <div>
      <img
        src="/assets/Young-Chef-Icon2.png"
        alt="Young Chef Mobile Logo"
        class="logo-mobile"
      />
    </div>
    <h1 class="page-title">Your Recipe Box</h1>
  </div>

  <!-- Desktop Logo -->
  <div class="desktop-welcome-container">
    <div class="desktop-image-container">
      <img
        src="/assets/Young-Chef-Logo.png"
        alt="Young Chef Logo"
        class="logo-desktop"
      />
    </div>
    <div>
      <h1 class="page-title-desktop">Your Recipe Box</h1>
    </div>
  </div>
  <div *ngIf="favorites.length === 0" class="placeholder-text">
    <p>Your favorite recipes will be saved here.</p>
  </div>

  <app-favorite-recipe class="fav-container"></app-favorite-recipe>
</div>
<app-footer></app-footer>
