.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-left: 80px;
  margin-bottom: 10px;
}

.logo-mobile {
  height: 80px;
  margin-right: 10px;
}

.page-title {
  color: #8ac926;
  max-width: 600px;
  padding-top: 5px;
  position: relative;
}

.desktop-welcome-container {
  display: none;
}

.placeholder-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: grey;
}

.fav-page {
  max-width: 1200px;
  margin: 0 auto;
}

.fav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .welcome-container {
    display: none;
  }

  .desktop-welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktop-logo-container {
    display: flex;
    justify-content: center;
  }
  .logo-desktop {
    height: 150px;
    margin-top: 20px;
  }

  .page-title-desktop {
    color: #8ac926;
    border-bottom: 1px solid #8ac926;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
  }
}

@media all and (min-width: 1025px) {
  .welcome-container {
    display: none;
  }

  .desktop-welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktop-logo-container {
    display: flex;
    justify-content: center;
  }
  .logo-desktop {
    height: 150px;
    margin-top: 20px;
  }

  .page-title-desktop {
    color: #8ac926;
    border-bottom: 1px solid #8ac926;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
  }
}
