<app-header></app-header>
<main class="main">
  <div class="search-container">
    <!-- Mobile Heading Container -->
    <div class="mobile-logo-container">
      <img
        src="/assets/Young-Chef-Icon2.png"
        alt="Young Chef Mobile Logo"
        class="logo-mobile"
      />
    </div>
    <!-- Desktop Logo -->
    <div class="desktop-logo-container">
      <img
        src="/assets/Young-Chef-Logo.png"
        alt="Young Chef Logo"
        class="logo-desktop"
      />
    </div>

    <div class="form-container">
      <form
        class="form"
        #searchForm="ngForm"
        (ngSubmit)="searchRecipes(searchForm)"
      >
        <!-- <label for="recipeSearch">Search Recipes</label> -->
        <input
          class="input"
          type="text"
          name="recipeSearch"
          id="recipeSearch"
          placeholder="Search Recipes"
          ngModel
        />
        <button class="btn"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <!-- Ready in minutes filter/slider -->
    <div class="slider-div">
      <p class="time">Time to make: {{ minutesVal }} minutes</p>
      <!-- <div class="slider"> -->
      <p-slider
        [(ngModel)]="minutesVal"
        (onChange)="setNumberOfMinutes($event.value)"
        [min]="20"
        [max]="160"
      ></p-slider>
    </div>
    <!-- </div> -->
  </div>
  <!-- Search Results show below -->
  <div class="recipies">
    <app-search-result
      *ngFor="let recipe of filterRecipes()"
      [recipe]="recipe"
    ></app-search-result>
  </div>
</main>
<app-footer></app-footer>
