.main {
  margin: 0 auto;
  margin-bottom: 60px;
}
.search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mobile-logo-container {
  margin-top: 60px;
}
.logo-mobile {
  height: 80px;
  margin-right: 10px;
}

.desktop-logo-container {
  display: none;
}

.form-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 13px;
}
.form {
  display: flex;
  align-self: center;
}

.slider-div {
  padding-top: 20px;
}

.time {
  margin-bottom: 10px;
}

.slider {
  display: flex;
  justify-content: center;
}

img {
  position: relative;
  box-sizing: border-box;
}

.input {
  padding: 15px 70px 10px 10px;
  border: none;
  border: 1px #f44336 solid;
}

.btn {
  border: none;
  padding: 0px 30px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 1200px;
  }

  .mobile-logo-container {
    display: none;
  }

  .desktop-logo-container {
    display: flex;
    justify-content: center;
  }
  .logo-desktop {
    height: 150px;
    margin-top: 20px;
  }

  .form {
    width: 100%;
    padding: 30px 0px 40px 30px;
  }

  .form-container {
    display: flex;
    align-self: center;
    position: static;
  }

  .input {
    font-size: 30px;
  }
  .btn {
    border: none;
    border-radius: 0px;
    padding: 0px 50px;
    font-size: 20px;
    background-color: #f44336;
    color: white;
    outline: none;
  }

  .slider-div {
    padding: 0;
  }
  .title {
    margin-bottom: 20px;
  }

  .recipe-title {
    padding-right: 40px;
  }

  .recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
