/* You can add global styles to this file, and also import other style files */
div {
  margin: 0px;
  padding: 0px;
}

h1,
h2 {
  font-family: "Balsamiq Sans", cursive;
  font-weight: 400;
}

body {
  font-family: "Quicksand", sans-serif;
}
