.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.logo-mobile {
  height: 80px;
  margin-right: 10px;
}

.welcome-text {
  color: #1982c4;
  margin-bottom: 10px;
}

.galleria-container {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.random-recipe-image {
  width: 100%;
  border-radius: 15px;
}
.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  max-width: 500px;
}

.home-options {
  height: 150px;
  width: 150px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container a:hover {
  color: #000;
}

.basics {
  background-color: #ffca3a;
}

.search-recipes {
  background-color: #f94144;
}

.cooking-videos {
  background-color: #6a4c93;
}

.recipe-box {
  background-color: #8ac926;
}

.trivia-container {
  text-align: center;
  margin-bottom: 60px;
}

.trivia-header {
  font-weight: 600;
}

.trivia-text {
  color: #6a4c93;
  font-style: italic;
}

/******* MEDIA QUERIES *******/
@media all and (min-width: 768px) {
  .welcome-container {
    margin-top: 10px;
  }

  .trivia-container {
    margin-bottom: 60px;
  }
  .welcome {
    font-size: 150%;
  }
  .welcome-text {
    margin-bottom: 5px;
  }

  .welcome-subtitle {
    font-size: 18px;
  }

  .home-container {
    display: flex;
    justify-content: center;
    max-width: 2600px;
  }

  /* button glow effects for buttons  */
  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
  }
  .btn:hover,
  .btn:focus {
    color: #fff;
    outline: 0;
  }
  /* The Basics Button */
  .first {
    border-color: #ffca3a;
    color: #fff;
    box-shadow: 60px 60px 60px 60px #ffca3a inset, 0 0 0 0 #ffca3a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 10px 0 #ffca3a inset, 0 0 10px 4px #ffca3a;
  }

  /* The Cooking Videos Button */
  .second {
    border-color: #6a4c93;
    color: #fff;
    box-shadow: 60px 60px 60px 60px #6a4c93 inset, 0 0 0 0 #6a4c93;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .second:hover {
    box-shadow: 0 0 10px 0 #6a4c93 inset, 0 0 10px 4px #6a4c93;
  }

  /* The Search Videos Button */
  .third {
    border-color: #f94144;
    color: #fff;
    box-shadow: 60px 60px 60px 60px #f94144 inset, 0 0 0 0 #f94144;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #f94144 inset, 0 0 10px 4px #f94144;
  }

  /* The Recipe Box Button */
  .fourth {
    border-color: #8ac926;
    color: #fff;
    box-shadow: 60px 60px 60px 60px #8ac926 inset, 0 0 0 0 #8ac926;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .fourth:hover {
    box-shadow: 0 0 10px 0 #8ac926 inset, 0 0 10px 4px #8ac926;
  }
} /* end of media queries */
