<app-header></app-header>
<div class="welcome-container">
  <div>
    <img
      src="/assets/Young-Chef-Icon2.png"
      alt="Young Chef Mobile Logo"
      class="logo-mobile"
    />
  </div>
  <div class="welcome">
    <h2 class="welcome-text">Welcome Young Chef!</h2>
    <p class="welcome-subtitle">What's cookin' today?</p>
  </div>
</div>
<div class="galleria-container">
  <p-galleria
    [value]="randomRecipe"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '800px' }"
    [numVisible]="1"
    [showThumbnails]="false"
    [showIndicators]="true"
    [changeItemOnIndicatorHover]="true"
    [showIndicatorsOnItem]="true"
    [autoPlay]="true"
    [transitionInterval]="2000"
    [circular]="true"
  >
    <ng-template pTemplate="item" let-item class="random-image-container">
      <img
        src="{{ item.image }}"
        (click)="clickRecipe(item.id)"
        class="random-recipe-image"
      />
    </ng-template>
  </p-galleria>
</div>
<div class="home-container">
  <a routerLink="/the_basics" class="home-options basics btn first"
    >The Basics</a
  >
  <a routerLink="/search_recipes" class="home-options search-recipes btn third"
    >Search Recipes</a
  >
  <a routerLink="/cooking_videos" class="home-options cooking-videos btn second"
    >Cooking Videos</a
  >
  <a routerLink="/recipe_box" class="home-options recipe-box btn fourth"
    >Recipe Box</a
  >
</div>

<div class="trivia-container">
  <p class="trivia-header">Did you know?</p>
  <p class="trivia-text">{{ trivia?.text }}</p>
  <!-- <p class="trivia-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, minus! Quos
    asperiores nobis quas ea assumenda iste similique odio dolore sit
    perferendis, consequuntur porro sed, recusandae, nemo voluptate repellat
    hic.
  </p> -->
</div>

<app-footer></app-footer>
